.container {
  display: flex;
  justify-content: center;
  margin: 25px;
}

.form {
  width: 400px;
}

.form input[type="text"],
.form input[type="radio"] {
  width: 100%;
}

.direction {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
}

.arrivalPrompt {
  width: 100%;
  text-align: center;
}

.radio {
  display: flex;
  flex-flow: row-wrap;
  justify-content: center;
  margin: 15px;
  gap: 35px;
}
